* {
  box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  .header{
    display: flex;
    background-image: url(pngtree-indoor-minimalist-japanese-decoration-background-material-image_141091);
    border-bottom: solid;
    border-color: #879de0;
    border-width: 1px;
    align-items: center;
    .header_logo{
      height: 100px;
      width: 25%;
      font-family: 'Copperplate',sans-serif;
      font-size: 55px;
      color: navy;
      margin: 0px;
    }
    .header_serach{
      width: 45%;
      height: 80px;
      margin-right: 5px;
    }
    .header_user{
      width: 30%;
      background-color: paleturquoise;
    }
  }

  .main{
    background-color: mintcream;
    height: calc(100vh - 100px);
  }
}