.header
  .header_logo
    My Cabinet
  .header_serach
    %input.header_serach__posts
  .header_user
    .header_user__name
      name
    .header_user_icon
      = link_to"#",class:"cabinet" do
        =icon("fas","door-open")
      = link_to"#",class:"setting" do
        =icon("fas","user-cog")