.header
  .header_logo
    My Cabinet
  .header_search
    %form.pict-search(id="search" method="get")
      %input.header_serach__posts(type="text" id="word")
      %button.search-botton(type="submit" id="seach-botton")
        =icon("fas","search")

  .header_user
    .header_user__name
      name
    .header_user_icon
      = link_to"#",class:"cabinet" do
        =icon("fas","door-open")
      = link_to"#",class:"setting" do
        =icon("fas","user-cog")