.post
  .content_post
    .more
      %span= image_tag 'arrow_top.png'
      %ul.more_list
        %li
          詳細
            
        %li
          編集
            
        %li
          削除
    %p
      こんにちは
    %span.name
      名前
        